@charset "UTF-8";
/* Enlace API de Google Fonts con CSS para que aplique Open Sans y Montserrat a todas las páginas del sitio */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;600;700;800&display=swap");
/* Definición de variables */
/* Blanco azulado */
/* Reset */
* {
  margin: 0px;
  padding: opx;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #E5EAF5;
  text-align: center;
}

/* Variables */
/* Header */
header {
  background-color: #1E1E5D;
  padding: 15px 0px 65px 0px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  /* Estilo del logo en menú */
  /* Menú */
  /* Oculta el menú para pantallas móviles y lo muestra cuando el checkbox esté activo */
}
header .logo-marca-menu {
  padding-top: 10px;
  margin-left: 10px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
}
header .logo-marca-menu img {
  height: 35px;
}
header .menu {
  list-style: none;
  margin: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .menu li {
  padding: 0;
  margin: 0px 15px;
}
header .menu li a {
  color: #E5EAF5;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s ease;
  align-items: center;
  padding: 5px 0;
}
header .menu li a:hover {
  color: #587FFC;
}
header .menu li a:active {
  color: #FF8692;
  transition: 0.1s ease;
}
header #menu-toggle {
  display: none;
}
header .menu-icon {
  display: none; /* Oculta el icono en desktop */
  font-size: 30px;
  cursor: pointer;
  color: #E5EAF5;
}

/* Secciones */
section {
  padding: 20px;
  /* Encabezados */
}
section#inicio, section#sobre-nosotros, section#servicios, section#portfolio, section#contacto {
  margin-top: 80px; /* Añade espacio para el header fijo */
}
section h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #1E1E5D; /* Azul oscuro */
  font-size: 2em;
  margin: 1em 0;
}
section h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #FF8692; /* Rosa claro */
  font-size: 1.5em;
  margin: 2em 0 1em 0;
}
section p {
  font-family: "Open Sans", sans-serif;
  color: #666;
  line-height: 1.6;
}

/* Imágenes */
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  /* Imágenes nuestros clientes */
  /* Imágenes galería del portfolio */
}
#clientes img {
  padding: 20px 0;
}
#portfolio-galeria img {
  padding: 0 0 23px 0;
}

/* Botones */
.boton {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase; /* Mayúscula */
  display: inline-block;
  padding: 10px 20px;
  margin: 20px 0;
  background-color: #FF8692; /* Rosa claro */
  color: #1E1E5D; /* Azul oscuro */
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.5s ease;
  border: none;
}
.boton:hover {
  background-color: #587FFC; /* Azul */
  color: #E5EAF5; /* Blanco azulado */
  border: none;
}

/* Variables */
/* Formulario */
form {
  display: block;
  text-align: left;
  background-color: #E5EAF5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 50%;
  margin: 20px auto;
}
form label {
  font-size: 1.1em;
  display: block;
  margin-bottom: 10px;
  color: #1E1E5D;
}
form input[type=text],
form input[type=email],
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #1E1E5D;
  border-radius: 5px;
  box-sizing: border-box;
}
form textarea {
  height: 150px;
}
form input[type=text]:focus,
form input[type=email]:focus,
form textarea:focus {
  border: 2px solid #587FFC; /* Azul */
  outline: none;
  transition: 0.5s ease;
}
form input[type=submit] {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase; /* Mayúscula */
  display: inline-block;
  padding: 10px 20px;
  background-color: #FF8692; /* Rosa claro */
  color: #1E1E5D; /* Azul oscuro */
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
form input[type=submit]:hover {
  background-color: #587FFC; /* Azul */
  color: #E5EAF5; /* Blanco azulado */
  border: none;
}

/* Variables */
/* Footer */
footer {
  background-color: #1E1E5D; /* Azul oscuro */
  padding: 20px 0;
  color: #E5EAF5; /* Blanco azulado */
  margin-top: 20px;
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
footer .logo-marca {
  margin-right: auto;
  width: 30px;
}
footer .logo-marca img:hover {
  transform: rotate(360deg);
  transition: 1.5s ease;
}
footer .redes-sociales {
  margin-left: auto;
}
footer .redes-sociales a {
  display: inline-block;
  margin: 0 10px;
}
footer .redes-sociales a img {
  width: 30px;
  height: auto;
  transition: 0.5s ease;
}
footer .redes-sociales a img:hover {
  transform: scale(110%);
}
footer .redes-sociales a:nth-child(1) img:hover {
  content: url("../assets/linkedin-logo-hover.png");
}
footer .redes-sociales a:nth-child(2) img:hover {
  content: url("../assets/instagram-logo-hover.png");
}
footer .redes-sociales a:nth-child(3) img:hover {
  content: url("../assets/behance-logo-hover.png");
}

/* Para dispositivos móviles */
@media (max-width: 768px) {
  header {
    padding: 10px 0px 60px 0px;
    position: relative; /* Posición relativa para contener el menú */
    /* Estilo del logo en menú */
  }
  header .logo-marca-menu {
    margin-left: 20px;
    display: flex;
    align-items: center;
  }
  header .menu {
    max-height: 0;
    overflow: hidden;
    flex-direction: column;
    background-color: #1E1E5D;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    transition: max-height 0.5s ease, padding 0.5s ease;
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
  }
  header .menu li {
    margin: 10px 0;
  }
  header #menu-toggle:checked + .menu-icon + nav .menu {
    text-align: center;
    width: 100%;
    max-height: 400px;
    padding: 15px 0;
    margin-top: 0px;
    margin-left: 0px;
  }
  header .menu-icon {
    display: block;
    margin: -40px 20px -40px 0px;
    text-align: right;
    font-size: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
